.translate-middle {
  transform: translate(-92%, -50%) !important;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: green !important;
}

.disp{
  display: flex;
  position:absolute;
  justify-content:flex-end;
  right: 0;
}